/* Genral styles */

body {
    background-color: azure;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    overflow-x: hidden;
   
}


/* banner styles */

.banner-wrapper {
    background-color: azure;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #8f8f8f;
}

.banner-wrapper > .banner-logo-link img{
    width: 75px;
    height: auto;
    
}

.banner-wrapper > .banner-logo-link {
    color:#3262a0;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 10px;
}

.banner-wrapper > .navigation-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    flex-basis: 360px;
    
}

.banner-wrapper > .navigation-wrapper a {
    padding: 0px 10px;
    text-decoration: none;
    color: #8f8f8f;
    transition: .8s;
}

.banner-wrapper > .navigation-wrapper a:hover {
    padding: 0px 14px;
    text-decoration: none;
    color: #afafaf;
    letter-spacing: 1px;
    
}

.banner-wrapper > .navigation-wrapper > .book{
    padding: 4px 7px 5px 7px;
    background-color: cadetblue;   
    border-radius: 5px;
    color: #004060;
}

.banner-wrapper > .navigation-wrapper > .book:hover{
    color: #003050;
    background-color:#8fced0;
}


/* bottom nav bar */

.bottom-nav-wrapper {
    background-color: #000005;
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    z-index: 1;
    justify-items: center;
    row-gap: 50px;
    
}

.bottom-nav-wrapper {
    &:before {
		position: absolute;
		z-index: -1;
		content: "";
		right: 0;
		top: -70px;
		height: 100%;
		width: 100%;
		background-color: inherit;
		transform: skewY(-3deg);
        box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.7);
	}

}

.bottom-nav-wrapper > .logo {
    width: 150px;
    padding: 20px;
   
}

.bottom-nav-wrapper > .info-wrapper {
    color: aliceblue;
    grid-column: 2 / span 3;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 20px;
}

.bottom-nav-wrapper > .info-wrapper > .info {
    text-align: center;
    max-width: 25%;
}

.bottom-nav-wrapper > .info-wrapper > .info i {
    font-size: 30px;
    padding: 7px;
    padding-bottom: 15px;
}

.bottom-nav-wrapper > .info-wrapper > .info > .head {
    font-size: 20px;
    font-weight: 900;
}

.bottom-nav-wrapper > .schedule-wrapper {
    color: aliceblue;
    grid-column: 1 / span 2;
    text-align: center;
}

.bottom-nav-wrapper > .schedule-wrapper a {
    text-decoration: none;
    padding: 4px 7px 5px 7px;
    background-color: rgb(110, 150, 180);   
    border-radius: 5px;
    color: #000005;
    transition: 1s;
    font-size: 25px;
    font-family: 'Barlow Semi Condensed', sans-serif;

}

.bottom-nav-wrapper > .schedule-wrapper a:hover{
    color: #004060;
}

.bottom-nav-wrapper > .schedule-wrapper > .txt {
    font-weight: 100;
    font-size: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding-bottom: 20px;

}

.bottom-nav-wrapper > .socials-wrapper {
    grid-column: 3 / span 2;
    font-size: 45px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}

.bottom-nav-wrapper > .bottom-nav {
    grid-column: 1 / span 4;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 20px 0px;
    background-color: #202020;
    

}

.bottom-nav-wrapper > .bottom-nav a {
    padding: 0px 10px;
    text-decoration: none;
    color: #8f8f8f;
    transition: .8s;

}

.bottom-nav-wrapper > .bottom-nav  a:hover{
    padding: 0px 14px;
    text-decoration: none;
    color: #afafaf;
    letter-spacing: 1px;
}


